{% extends "base/base.html" %}
{% load static %}

{% block title %}
  CRM
{% endblock title %}

{% block heading %}
  CRM
{% endblock heading %}

{% block sub_heading %}
  Example App
{% endblock sub_heading %}

{% block menu_dash %}
  <li class="pure-menu-item">
    <a href="{% url 'crm.ticket.home' %}" class="pure-menu-link">
      CRM
    </a>
  </li>
  {{ block.super }}
{% endblock menu_dash %}

{% block footer %}
{% endblock footer %}
