{% extends 'crm/base.html' %}

{% block sub_title %}
  Contact
{% endblock sub_title %}

{% block sub_heading %}
  {{ contact.get_full_name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% if next %}
            <li class="pure-menu-item">
              <a href="{{ next }}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
              </a>
            </li>
          {% endif %}
          {% include 'crm/_menu_contact_detail.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2 overflow-auto">
      <div class="r-box">
        <table width="100%" class="pure-table pure-table-bordered">
          <tbody>
            {% include 'contact/_contact_detail.html' %}
            {% include 'crm/_contact_detail.html' %}
            {% include 'invoice/_contact_detail.html' %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <table width="100%" class="pure-table pure-table-bordered">
        <tbody>
          {% include 'contact/_contact_detail_multi.html' with compact_address=True %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table width="100%" class="pure-table pure-table-bordered small-margin-top">
        <tbody>
          {% include 'crm/_contact_ticket_list.html' with ticket_list=object_list %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
          {% include 'crm/_menu_contact_detail.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
