<tr valign="top">
  <thead>
    <td colspan="2">
      <strong>Information</strong>
    </td>
  </thead>
</tr>
<tr>
  <td>Industry</td>
  <td>
    {% if user.is_staff and not read_only %}
      {% if crm_contact %}
        <a href="{% url 'crm.contact.update' crm_contact.pk %}">
      {% else %}
        <a href="{% url 'crm.contact.create' contact.pk %}">
      {% endif %}
      <i class="fa fa-edit"></i>
      {% if crm_contact.industry %}
        {{ crm_contact.industry.name }}
      {% endif %}
      </a>
    {% else %}
      {% if crm_contact and crm_contact.industry %}
        {{ crm_contact.industry.name }}
      {% endif %}
    {% endif %}
  </td>
</tr>
