{% for ticket in ticket_list %}
  {% if forloop.first %}
    <tr valign="top">
      <thead>
        <td>
          <strong>Number</strong>
        </td>
        <td>
          <strong>Description</strong>
        </td>
        <td>
          <strong>Project</strong>
        </td>
        <td>
          <strong>Status</strong>
        </td>
      </thead>
    </tr>
  {% endif %}
  {% include 'crm/_ticket_in_table_row.html' with show_contact=False %}
{% endfor %}
