{% with card=ticket.kanban_card %}
  <small>
    <form
      action="{% url 'crm.ticket.kanban.card.update' ticket.pk %}"
      method="post"
      class="pure-form {% if card.is_active %}card-active{% elif card.is_done %}card-done{% elif card.is_tracked %}card-track{% endif %} rounded-border {% if highlight == ticket.pk %} card-highlight{% endif %}">
      {% csrf_token %}
      {{ ticket.contact.get_full_name|truncatewords:5 }}
      <br>
      <a href="{% url 'ticket.detail' ticket.pk %}">
        {{ ticket.pk }}, {{ ticket.title|truncatewords:20 }}
      </a>
      {% if card.is_active and card.column.is_first %}
        <br>
        <small>
          <a href="{% url 'crm.ticket.create.child' ticket.pk %}">
            <i class="fa fa-plus fa-fw"></i>
            Create child ticket...
          </a>
        </small>
      {% endif %}
      <br>
      {% if form.non_field_errors %}
        {{ form.non_field_errors }}
      {% endif %}
      {% if user == ticket.user_assigned %}
        <i class="fa fa-user"></i>
      {% endif %}
      {% if ticket.user_assigned %}
        {{ ticket.user_assigned.username }}
      {% endif %}
      <br>
      <small>
        {% if card.is_active %}
          <button type="submit" name="operation" value="previous" class="pure-button">
            <i class="fa fa-arrow-left"></i>
          </button>
        {% endif %}
        {% if card.is_done or card.is_tracked %}
          <button type="submit" name="operation" value="active" class="pure-button">
            <i class="fa fa-square-o"></i>
          </button>
        {% endif %}
        {% if card.is_active or card.is_done %}
          <button type="submit" name="operation" value="tracked" class="pure-button">
            <i class="fa fa-warning"></i>
          </button>
        {% endif %}
        {% if card.is_active or card.is_tracked %}
          <button type="submit" name="operation" value="done" class="pure-button">
            <i class="fa fa-check-square-o"></i>
          </button>
        {% endif %}
        {% if card.is_done and not column.is_final %}
          <button type="submit" name="operation" value="next" class="pure-button">
            <i class="fa fa-arrow-right"></i>
          </button>
        {% endif %}
      </small>
    </form>
  </small>
{% endwith %}
