<small>
  <form action="{% url 'crm.ticket.kanban.card.update' ticket.pk %}" method="post" class="pure-form card-active {% if ticket.pk == highlight %} card-highlight{% endif %} rounded-border">
    {% csrf_token %}
    {{ ticket.contact.get_full_name|truncatewords:5 }}
    <br>
    <a href="{% url 'ticket.detail' ticket.pk %}">
      {{ ticket.pk }}, {{ ticket.title|truncatewords:20 }}
    </a>
    <br>
    {% if form.non_field_errors %}
      {{ form.non_field_errors }}
    {% endif %}
    {% if user == ticket.user_assigned %}
      <i class="fa fa-user"></i>
    {% endif %}
    {% if ticket.user_assigned %}
      {{ ticket.user_assigned.username }}
    {% endif %}
    <br>
    <small>
      <button type="submit" name="operation" value="add" class="pure-button">
        <i class="fa fa-arrow-right"></i>
      </button>
    </small>
  </form>
</small>
