{% include 'invoice/_menu_item_time_summary.html' %}
{% if not path == '/crm/contact/' %}
  <li class="pure-menu-item">
    <a href="{% url 'contact.list' %}" class="pure-menu-link">
      <i class="fa fa-user"></i>
      Contacts
    </a>
  </li>
{% endif %}
{% if not path == '/crm/ticket/' %}
  <li class="pure-menu-item">
    <a href="{% url 'crm.ticket.list' %}" class="pure-menu-link">
      <i class="fa fa-ticket"></i>
      All Tickets
    </a>
  </li>
{% endif %}
{% include 'invoice/_menu_item_invoice_list.html' %}
