<li class="pure-menu-item">
  <a href="{% url 'crm.ticket.create' contact.pk %}" class="pure-menu-link">
    <i class="fa fa-plus"></i>
    Ticket
  </a>
</li>
<li class="pure-menu-item">
  <a href="{% url 'invoice.time.contact.list' contact.pk %}" class="pure-menu-link">
    <i class="fa fa-clock-o"></i>
    Time
  </a>
</li>
<li class="pure-menu-item">
  <a href="{% url 'invoice.contact.list' contact.pk %}" class="pure-menu-link">
    <i class="fa fa-gbp"></i>
    Invoices
  </a>
</li>
{% if user.is_staff %}
  <li class="pure-menu-item">
    <a href="{% url 'crm.contact.ticket.list' contact.pk %}?ticket_status=1&ticket_type=-1" class="pure-menu-link">
      <i class="fa fa-ticket"></i>
      Tickets
    </a>
  </li>
{% endif %}
