<li class="pure-menu-item">
  <a href="{% url 'crm.note.create' ticket.pk %}" class="pure-menu-link">
    <i class="fa fa-plus"></i>
    Note
  </a>
</li>
<li class="pure-menu-item">
  <a href="{% url 'invoice.time.create' ticket.pk %}?next={{ request.path }}" class="pure-menu-link">
    <i class="fa fa-plus"></i>
    Time
  </a>
</li>
<li class="pure-menu-item">
  <a href="{% url 'invoice.time.ticket.list' ticket.pk %}" class="pure-menu-link">
    <i class="fa fa-clock-o"></i>
    View Time
  </a>
</li>
<li class="pure-menu-item">
  <a href="{% url 'crm.ticket.complete' ticket.pk %}" class="pure-menu-link">
    {% if ticket.complete %}
      <i class="fa fa-square-o"></i>
      Un-Complete
    {% else %}
      <i class="fa fa-check-square-o"></i>
      Complete
    {% endif %}
  </a>
</li>
