<form action="{% url 'crm.ticket.quick.time.start' ticket.pk item.pk %}" method="post" class="pure-form">
  {% csrf_token %}
  {% if form.non_field_errors %}
    {{ form.non_field_errors }}
  {% endif %}
  <small>
    <button type="submit" class="pure-button full-width-button">
      {% if item.chargeable %}
        <i class="fa fa-gbp"></i>
      {% else %}
        <i class="fa fa-gift"></i>
      {% endif %}
      {{ item.description }}
    </button>
  </small>
</form>
