<div class="pure-u-1 pure-u-md-1-4">
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>CRM</h4>
    </div>
  </div>
  <div class="r-box">
    <a href="{% url 'crm.user.settings.update' %}" class="pure-menu-link">
      <i class="fa fa-user"></i>
      Display Notify List
    </a>
  </div>
  <div class="r-box">
    <a href="{% url 'crm.industry.list' %}" class="pure-menu-link">
      <i class="fa fa-user"></i>
      Industry
    </a>
  </div>
  <div class="r-box">
    <a href="{% url 'crm.settings.update' %}" class="pure-menu-link">
      <i class="fa fa-columns"></i>
      Settings
    </a>
  </div>
</div>
