{% if ticket.complete %}
  <tr>
    <td>Complete</td>
    <td>
      <i class="fa fa-check"></i>
      {{ ticket.complete|date:"d/m/Y H:i" }}
      <small>by {{ ticket.complete_user.username }}</small>
    </td>
  </tr>
{% endif %}
<tr valign="top">
  {% if ticket.user_assigned %}
    <td>Assigned to</td>
    <td>
      <strong>{{ ticket.user_assigned }}</strong>
    </td>
  {% endif %}
</tr>
{% if kanban_card %}
  <tr>
    <td valign="top">Project</td>
    <td>
      {% include 'crm/_ticket_detail_kanban_card.html' %}
    </td>
  </tr>
{% endif %}
{% if ticket.priority.level or ticket.due %}
  <tr>
    <td valign="top">Priority</td>
    <td>
      {% if ticket.priority.level %}
        <strong>{{ ticket.priority.name }}</strong>
      {% endif %}
      {% if ticket.due %}
        <small>
          By {{ ticket.due|date:"d/m/Y" }}
        </small>
      {% endif %}
      {% if ticket.due_notify and ticket.due_notify < ticket.due %}
        <small class="errorlist">
          (notify {{ ticket.due_notify|timesince:ticket.due }} before)
        </small>
      {% endif %}
    </td>
  </tr>
{% endif %}
