<tr valign="top">
  <td>Created</td>
  <td>
    {{ ticket.created|date:"d/m/Y H:i" }}
    <small>
      by
      {{ ticket.user.username }}
    </small>
  </td>
</tr>
{% if ticket.fixed_price %}
  <tr>
    <td>Pricing</td>
    <td>
      <i class="fa fa-handshake-o"></i>
      Fixed Price
    </td>
  </tr>
{% endif %}
<tr valign="top">
  <td>
    <a href="{% url 'crm.ticket.move' ticket.pk %}">
      <i class="fa fa-edit fa-fw"></i>
      Parent
    </a>
  </td>
  <td>
    {% if ticket.is_root_node %}
      {% if ticket.get_descendant_count %}
        <a href="{% url 'crm.ticket.children' ticket.pk %}">
          <i class="fa fa-align-left fa-fw"></i>
          View Tree
        </a>
        <br>
      {% endif %}
    {% elif ticket.get_root %}
      <a href="{% url 'crm.ticket.children' ticket.get_root.pk %}?highlight={{ ticket.pk }}">
        <i class="fa fa-align-left fa-fw"></i>
        {{ ticket.get_root.pk }},
        {{ ticket.get_root.title }}
      </a>
      <br>
    {% endif %}
    <a href="{% url 'crm.ticket.create.child' ticket.pk %}">
      <i class="fa fa-plus fa-fw"></i>
      Create Child
    </a>
  </td>
</tr>
<tr valign="top">
  {% if kanban_card %}
    {% if kanban_card.column.lane.funded %}
      <td>
        <a href="{% url 'crm.ticket.update.funding' ticket.pk %}">
          <i class="fa fa-edit fa-fw"></i>
          Funded
        </a>
      </td>
      <td>
        {% if ticket.funded %}
          {{ ticket.funded.name }}
        {% endif %}
      </td>
    {% else %}
      <td>
        Funded
      </td>
      <td>
        {{ kanban_card.column.lane.title }} ticket are not funded...
      </td>
    {% endif %}
  {% else %}
    <td>
      Funded
    </td>
    <td>
      <i class="fa fa-warning"></i>
      This ticket does not have a ticket type...
    </td>
  {% endif %}
</tr>
