<tr valign="top">
  {% if user.is_staff %}
    <td>
      {{ ticket.number }}
    </td>
    {% if show_contact %}
      <td>
        <a href="{% url 'contact.detail' ticket.contact.pk %}">
          {% if ticket.contact.company_name %}
            {{ ticket.contact.company_name }}
          {% else %}
            {{ ticket.contact.get_full_name }}
          {% endif %}
        </a>
      </td>
    {% endif %}
  {% endif %}
  <td class="break-word">
    {% if ticket.complete %}
      <a href="{% url 'ticket.detail' ticket.pk %}">
        {{ ticket.title }}
      </a>
      {% if ticket.complete %}
        <small>
          (<i class="fa fa-check"></i>
          Complete {{ ticket.complete|date:"d/m/Y H:i" }})
        </small>
      {% endif %}
    {% else %}
      <a href="{% url 'ticket.detail' ticket.pk %}">
        <strong>{{ ticket.title }}</strong>
      </a>
      <small>(Created {{ ticket.created|date:'d/m/Y' }})</small>
    {% endif %}
    {% if ticket.is_parent %}
      <small>(Parent Ticket)</small>
    {% endif %}
    {% if ticket.description %}
      <br>
      {{ ticket.description|urlize|linebreaksbr|truncatewords_html:30 }}
    {% endif %}
  </td>
  <td>
    {% if ticket.is_root_node %}
      {% if ticket.get_descendant_count %}
        <a href="{% url 'crm.ticket.children' ticket.pk %}">
          <i class="fa fa-align-left fa-fw"></i>
          View Project
        </a>
        <br>
      {% endif %}
    {% elif ticket.get_root %}
      <a href="{% url 'crm.ticket.children' ticket.get_root.pk %}?highlight={{ ticket.pk }}">
        <i class="fa fa-align-left fa-fw"></i>
        {{ ticket.get_root.pk }}
        <br>
        <small>
          {{ ticket.get_root.title|truncatewords:4 }}
        </small>
      </a>
      <br>
    {% endif %}
  </td>
  <td>
    {% if ticket.kanban_card %}
      {% include 'crm/_ticket_detail_kanban_card.html' with kanban_card=ticket.kanban_card %}
      <br>
    {% endif %}
    {% if ticket.priority.level %}
      {% if ticket.priority.level == 3 %}
        <strong>
      {% endif %}
      {{ ticket.priority.name }}
      {% if ticket.priority.level == 3 %}
        </strong>
      {% endif %}
      {% if ticket.due and not ticket.complete %}
        <small>
          due {{ ticket.due|date:'d/m/Y' }}
          {% if display_notify_list and today > ticket.due %}
            <br>
            <span class="errorlist">
              Overdue {{ ticket.due|timesince:today }}
            </span>
          {% endif %}
        </small>
      {% endif %}
      <br>
    {% endif %}
    {% if not is_home %}
      {% if ticket.user_assigned %}
        <small>{{ ticket.user_assigned }}</small>
      {% endif %}
    {% endif %}
  </td>
</tr>
