{% if user.is_staff and not ticket.complete %}
  {% if kanban_card.column.lane.order %}
    {% if kanban_card.column.is_backlog %}
      <a href="{% url 'crm.kanban.lane.backlog' kanban_card.column.lane.pk %}?highlight={{ ticket.pk }}">
    {% else %}
      <a href="{% url 'crm.kanban.lane.board' kanban_card.column.lane.pk %}?highlight={{ ticket.pk }}">
    {% endif %}
    <i class="fa fa-columns"></i>
    {{ ticket.kanban_card.column.lane.title }}
    {% if kanban_card.column.is_backlog and not kanban_card.order %}
      Sandbox
    {% else %}
      {{ kanban_card.column.title }}
    {% endif %}
    </a>
  {% else %}
    <i class="fa fa-columns"></i>
    {{ ticket.kanban_card.column.lane.title }}
  {% endif %}
{% else %}
  <i class="fa fa-columns"></i>
  {{ ticket.kanban_card.column.lane.title }}
{% endif %}
