<tr>
  <td colspan="2">
    {% with ticket.contact as contact %}
      <a href="{% url 'contact.detail' ticket.contact.pk %}">
        {% if contact.company_name %}
          {{ contact.company_name }}
        {% else %}
          {{ contact.user.get_full_name }}
        {% endif %}
      </a>
      {% if contact.company_name %}
        {% if contact.user.first_name or contact.user.last_name %}
          <small>
            ({{ contact.user.get_full_name }})
          </small>
        {% endif %}
      {% endif %}
      {% if contact.address %}
        <small>
          {{ contact.address }}
        </small>
      {% endif %}
    {% endwith %}
  </td>
</tr>
<tr>
  <td>
    <a href="{% url 'crm.ticket.update' ticket.pk %}">
      <i class="fa fa-edit"></i>
      <strong>
        {{ ticket.title }}
      </strong>
    </a>
    {% if favourite %}
      <i class="fa fa-star"></i>
    {% endif %}
    {% if favourite %}
      <form action="{% url 'crm.ticket.unfavourite' ticket.pk %}" class="inline-form" method="post">
    {% else %}
      <form action="{% url 'crm.ticket.favourite' ticket.pk %}" class="inline-form" method="post">
    {% endif %}
    {% csrf_token %}
    {% if form.non_field_errors %}
      {{ form.non_field_errors }}
    {% endif %}
    <small>
      <button type="submit" value="{{ ticket.pk }}" class="pure-button">
        {% if favourite %}
          <i class="fa fa-star-o"></i>
          Un-favourite
        {% else %}
          <i class="fa fa-star"></i>
          Favourite
        {% endif %}
      </button>
    </small>
  </form>
</td>
</tr>
