{% for row in object_list %}
  <div>
    <tr valign="top" class="overflow-hidden crm-border-top pure-table-odd">
      <td>
        {% if row.user__username == user.username and row.object.modified_today %}
          <a href="{{ row.object.get_update_url }}?next={{ request.path }}">
            <i class="fa fa-edit"></i>
            {{ row.object.title }}
          </a>
        {% else %}
          {% if row.model == "time" %}
            <small>
              <i class="fa fa-clock-o fa-fw"></i>
            </small>
            {{ row.object.title }}
            <small>
              {% if row.object.time_code %}
                ({{ row.object.time_code.description }})
              {% endif %}
            </small>
          {% else %}
            <small>
              <i class="fa fa-sticky-note-o fa-fw"></i>
            </small>
            {{ row.object.title }}
          {% endif %}
        {% endif %}
      </td>
      <td>
        <small>
          {% if row.model == "time" %}
            {{ row.object.date_started|date:'d/m/Y' }}
            {% if row.object.billable %}
              <i class="fa fa-gbp fa-fw"></i>
            {% else %}
              <i class="fa fa-gift fa-fw"></i>
            {% endif %}
            {% if row.object.is_complete %}
              ({{ row.object.delta_as_string }})
            {% else %}
              (started at {{ row.object.start_time|date:'H:i' }})
            {% endif %}
          {% else %}
            {{ row.created|date:'d/m/Y H:i' }}
          {% endif %}
        </small>
      </td>
      <td>
        <small>
          {% if not user.username == row.user__username %}
            {{ row.user__username }}
          {% endif %}
        </small>
      </td>
    </tr>
    {% if row.object.description %}
      <tr class="overflow-hidden">
        <td colspan="3">
          {{ row.object.description|urlize|linebreaksbr }}
        </td>
      </tr>
    {% endif %}
  </div>
{% endfor %}
