{% for item in quick_chargeable %}
  <div class="pure-u-1-2 pure-u-md-1-6">
    {% include 'crm/_quick_time_form.html' %}
  </div>
{% endfor %}
{% for item in quick_non_chargeable %}
  <div class="pure-u-1-2 pure-u-md-1-6">
    {% include 'crm/_quick_time_form.html' %}
  </div>
{% endfor %}
