{% extends 'crm/base.html' %}

{% block sub_title %}
  Tickets for {{ contact.full_name }}
{% endblock sub_title %}

{% block sub_heading %}
  Tickets for {{ contact.full_name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            {% if next %}
              <a href="{{ next }}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
              </a>
            {% else %}
              <a href="{% url 'contact.detail' contact.pk %}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
              </a>
            {% endif %}
          </li>
          {% include 'base/_paginate_with_parameters.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <form action="." method="GET" class="pure-form">
        {% if form.non_field_errors %}
          {{ form.non_field_errors }}
        {% endif %}
        <fieldset>
          {{ form.ticket_status }}
          {{ form.ticket_type }}
          <small>
            <button type="submit" class="pure-button pure-button-primary">Search</button>
          </small>
        </fieldset>
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
        {% if next %}
          <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
      </form>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table width="100%" class="pure-table pure-table-bordered small-margin-top">
        <tbody>
          {% include 'crm/_contact_ticket_list.html' %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate_with_parameters.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script_extra %}
  {{ block.super }}
  {% include 'base/_chosen.html' %}
{% endblock script_extra %}
