{% extends 'crm/base.html' %}

{% block sub_title %}
  Ticket
  {{ object.ticket.pk }}
  for
  {{ object.ticket.contact.get_full_name }}
{% endblock sub_title %}

{% block sub_heading %}
  Ticket
  {{ object.ticket.pk }}
  for
  {{ object.ticket.contact.get_full_name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <p>
        Ticket for
        <strong>
          {{ object.ticket.contact.get_full_name }}
        </strong>.
      </p>
      {% if object %}
        {% if not object.ticket.can_edit_kanban_column %}
          <p>
            <i class="fa fa-warning"></i>
            The ticket type cannot be changed.
            The ticket is on the Kanban board in the
            <strong>{{ object.column.title }}</strong> column for the
            <strong>{{ object.column.lane.title }}</strong> lane.
            To change the ticket type, you will need to move the ticket to the
            backlog first.
          </p>
        {% endif %}
      {% endif %}
      {% if object.ticket.parent %}
        <p>
          <strong>Sub-ticket</strong>
          of]
          {{ object.ticket.parent.pk }},
          {{ object.ticket.parent.title }}
        </p>
      {% endif %}
      {% include '_form.html' %}
    </div>
  </div>
{% endblock content %}
