{% extends 'crm/base.html' %}

{% block sub_title %}
  Kanban
{% endblock sub_title %}

{% block sub_heading %}
  Kanban
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <p>
        Contact: {{ object.ticket.contact.get_full_name }}
      </p>
      <p>
        Ticket: {{ object.ticket.title }}
      </p>
      {% include '_form.html' %}
    </div>
  </div>
{% endblock content %}
