{% extends 'crm/base.html' %}

{% block sub_title %}
  {{ kanbanlane.title }} Backlog
{% endblock sub_title %}

{% block sub_heading %}
  {{ kanbanlane.title }} Backlog
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'crm.kanban.lane.board' kanbanlane.pk %}" class="pure-menu-link">
              <i class="fa fa-columns"></i>
              Board
            </a>
          </li>
          {% for lane in lanes %}
            <li class="pure-menu-item">
              <a href="{% url 'crm.kanban.lane.backlog' lane.pk %}" class="pure-menu-link">
                <i class="fa fa-columns"></i>
                {{ lane.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-2">
      <h4 class="card-heading">Sandbox</h4>
      {% for ticket in kanbanlane.backlog_pending %}
        {% include 'crm/_kanban_card_backlog_pending.html' %}
      {% endfor %}
    </div>
    <div class="pure-u-1-2">
      <h4 class="card-heading">
        <i class="fa fa-columns"></i>
        Backlog
      </h4>
      {% for ticket in kanbanlane.backlog %}
        {% include 'crm/_kanban_card_backlog.html' %}
      {% endfor %}
    </div>
  </div>
{% endblock content %}
