{% extends 'crm/base.html' %}

{% block sub_title %}
  {{ kanbanlane.title }} Board
{% endblock sub_title %}

{% block sub_heading %}
  {{ kanbanlane.title }} Board
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'crm.kanban.lane.backlog' kanbanlane.pk %}" class="pure-menu-link">
              <i class="fa fa-columns"></i>
              Backlog
            </a>
          </li>
          {% for lane in lanes %}
            <li class="pure-menu-item">
              <a href="{% url 'crm.kanban.lane.board' lane.pk %}" class="pure-menu-link">
                <i class="fa fa-columns"></i>
                {{ lane.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-g">
        {% for column in kanbanlane.columns %}
          <div class="pure-u-1 pure-u-md-8-24">
            <h4 class="card-heading">{{ column.title }}</h4>
            <div class="pure-g">
              <div class="pure-u-1-2">
                <strong>Active</strong>
                {% for ticket in column.tickets_active %}
                  {% include 'crm/_kanban_card.html' %}
                {% endfor %}
              </div>
              <div class="pure-u-1-2">
                <strong>Done</strong>
                {% for ticket in column.tickets_done %}
                  {% include 'crm/_kanban_card.html' %}
                {% endfor %}
              </div>
              <div class="pure-u-1">
                {% if column.tickets_tracked.count %}
                  <strong>Tracked</strong>
                  {% for ticket in column.tickets_tracked %}
                    {% include 'crm/_kanban_card.html' %}
                  {% endfor %}
                  </small>
                {% endif %}
              </div>
            </div>
            <p class=card-help-text>
              <small>
                {{ column.help_text }}
              </small>
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
