{% extends 'crm/base.html' %}

{% block sub_title %}
  Move Ticket
  {{ object.pk }}
  for {{ ticket.contact.get_full_name }}
  to {{ to_ticket.pk }}
{% endblock sub_title %}

{% block sub_heading %}
  Move Ticket
  {{ object.pk }}
  for {{ ticket.contact.get_full_name }}
  to {{ to_ticket.pk }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <p>
        Please confirm you want to move ticket:
        <br>
        <br>
        <strong>
          {{ object.pk }},
        </strong>
        {{ object.title }}
        <br>
        for {{ ticket.contact.get_full_name }}
        <br>
        <br>
        To:
        <br>
        <strong>
          {{ to_ticket.pk }}
        </strong>
        {{ to_ticket.title }}
        <br>
        for {{ to_ticket.contact.get_full_name }}
      </p>
      {% include '_form.html' with submit='Confirm Move' %}
      {% if to_ticket.complete %}
        <i class="fa fa-warning"></i>
        <strong>
          Ticket {{ to_ticket.pk }}
        </strong>
        was completed on {{ to_ticket.complete|date:'d/m/Y' }}
        by {{ to_ticket.complete_user.get_full_name }}
      {% endif %}
    </div>
  </div>
{% endblock content %}
