{% extends 'crm/base.html' %}

{% block sub_title %}
  {% if is_home %}
    {% if user_assigned %}
      {{ user_assigned.first_name }}'s Tickets
    {% else %}
      My Tickets
    {% endif %}
  {% else %}
    All Tickets
  {% endif %}
{% endblock sub_title %}

{% block sub_heading %}
  {% if is_home %}
    {% if user_assigned %}
      {{ user_assigned.first_name }}'s Tickets
    {% else %}
      My Tickets
    {% endif %}
  {% else %}
    All Tickets
  {% endif %}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'crm/_menu_item_ticket_home.html' %}
          {% include 'base/_paginate_with_parameters.html' %}
          {% if user.is_staff %}
            {% include 'crm/_menu_ticket.html' %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  {% if form %}
    <div class="pure-g">
      <div class="pure-u-1">
        <form action="." method="GET" class="pure-form">
          {% if form.non_field_errors %}
            {{ form.non_field_errors }}
          {% endif %}
          <fieldset>
            {{ form.user }}
            <small>
              <button type="submit" class="pure-button pure-button-primary">Search</button>
            </small>
          </fieldset>
          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
          {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
          {% endif %}
        </form>
      </div>
    </div>
  {% endif %}
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            {% if user.is_staff %}
              <th>Number</th>
              <th>Contact</th>
            {% endif %}
            <th>Ticket</th>
            {% if not is_home %}
              <th>User</th>
            {% endif %}
            <th>Project</th>
            <th>Priority</th>
          </tr>
        </thead>
        <tbody>
          {% if display_favourites %}
            <tr class="pure-table-odd">
              {% if user.is_staff %}
                <td colspan="8">
              {% else %}
                <td colspan="5">
              {% endif %}
              <strong>
                Favourite Tickets
              </strong>
              <i class="fa fa-star"></i>
              {% if user_assigned %}
                <small>({{ user_assigned.first_name }})</small>
              {% endif %}
            </td>
            </tr>
            {% for ticket in favourites %}
              {% include 'crm/_ticket_in_table_row.html' with show_contact=True %}
            {% endfor %}
          {% endif %}
          {% if display_notify_list %}
            <tr class="pure-table-odd">
              <td colspan="5">
                <strong>
                  Tickets by Due Date
                </strong>
                <i class="fa fa-calendar"></i>
                {% if user_assigned %}
                  <small>({{ user_assigned.first_name }})</small>
                {% endif %}
              </td>
            </tr>
            {% for ticket in notify_list %}
              {% include 'crm/_ticket_in_table_row.html' with show_contact=True %}
            {% endfor %}
          {% endif %}
          {% if display_favourites or display_notify_list %}
            <tr class="pure-table-odd">
              <td colspan="5">
                <strong>
                  All Tickets
                </strong>
                {% if user_assigned %}
                  <small>({{ user_assigned.first_name }})</small>
                {% endif %}
              </td>
            </tr>
          {% endif %}
          {% for ticket in ticket_list %}
            {% include 'crm/_ticket_in_table_row.html' with show_contact=True %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate_with_parameters.html' %}
          {% if user.is_staff %}
            {% include 'crm/_menu_ticket.html' %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
