{% extends 'crm/base.html' %}

{% block sub_title %}
  {% if is_complete %}
    Un-complete
  {% else %}
    Complete
  {% endif %}
  Ticket
{% endblock sub_title %}

{% block sub_heading %}
  {% if is_complete %}
    Un-complete
  {% else %}
    Complete
  {% endif %}
  Ticket
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <br>
      <a href="{% url 'ticket.detail' ticket.pk %}">
        <strong>{{ ticket.title }}</strong>
      </a>
      for
      <a href="{% url 'contact.detail' ticket.contact.pk %}">
        {{ ticket.contact.get_full_name }}
      </a>
      {% if can_complete %}
        <br>
        <br>
        <strong>
          {% if is_complete %}
            Are you sure you want to un-complete the ticket?
          {% else %}
            Are you sure you want to complete the ticket?
          {% endif %}
        </strong>
        {% include '_form.html' %}
      {% else %}
        <br>
        <br>
        <i class="fa fa-warning"></i>
        <strong>
          The ticket cannot be completed.
        </strong>
        <br>
      {% endif %}
      {% if kanban_card %}
        <br>
        This ticket is on the project board for
        <strong>
          {{ kanban_card.column.lane.title }}:
        </strong>
        <br>
        {% include 'crm/_ticket_detail_kanban_card.html' %}
      {% endif %}
    </div>
  </div>
{% endblock content %}
