{% extends 'dash/base.html' %}

{% block sub_title %}
  Ticket Favourite/Unfavourite
{% endblock sub_title %}

{% block sub_heading %}
  Ticket Favourite/Unfavourite
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'ticket.detail' object.pk %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <a href="{% url 'ticket.detail' object.pk %}" class="pure-menu-link">
        {{ object.title }}
        {% if favourite %}
          <i class="fa fa-star"></i>
          Favourite
        {% else %}
          is not a favourite
        {% endif %}
      </a>
      {% if favourite %}
        {% include '_form.html' with submit='Un-Favourite' %}
      {% else %}
        {% include '_form.html' with submit='Favourite' %}
      {% endif %}
    </div>
  </div>
{% endblock %}
