{% extends 'crm/base.html' %}

{% block sub_title %}
  Clear Parent for {{ object.pk }},
  {{ ticket.contact.get_full_name }}
{% endblock sub_title %}

{% block sub_heading %}
  Clear Parent for {{ object.pk }},
  {{ ticket.contact.get_full_name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <p>
        <strong>
          Please confirm
        </strong>
        you want to remove ticket:
        <br>
        <br>
        <strong>
          {{ object.pk }},
        </strong>
        {{ object.title }}
        <br>
        for {{ ticket.contact.get_full_name }} from the hierarchy.
        <br>
        <br>
      </p>
      {% include '_form.html' with submit='Confirm Remove from Hierarchy' %}
    </div>
  </div>
{% endblock content %}
