{% extends 'crm/base.html' %}
{% load mptt_tags %}

{% block sub_title %}
  Ticket Hierarchy {{ ticket.pk }}, {{ ticket.title }}
{% endblock sub_title %}

{% block sub_heading %}
  Ticket Hierarchy for
  {{ ticket.contact.get_full_name }},
  {{ ticket.pk }},
  {{ ticket.title }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Ticket</th>
            <th>Title</th>
            <th>Priority</th>
            <th>Due Date</th>
            <th>Hierarchy</th>
            <th>User</th>
            <th>Complete</th>
          </tr>
        </thead>
        <tbody>
          {% if nodes %}
            {% for item, structure in nodes|tree_info %}
              <tr{% if highlight == item.pk %} class="errorlist"{% elif item.complete %} class="pure-table-odd"{% endif %}>
                <td>
                  {% if item.is_root_node %}
                    <strong>
                  {% endif %}
                  <a href="{% url 'ticket.detail' item.pk %}">
                    {{ item.pk }}
                  </a>
                  {% if item.is_root_node %}
                    </strong>
                  {% endif %}
                </td>
                <td>
                  {% for x in item.level_range %}
                    <i class="fa fa-fw">&nbsp;</i>
                  {% endfor %}
                  <i class="fa fa-circle-o"></i>
                  <a href="{% url 'ticket.detail' item.pk %}">
                    {% if item.is_root_node %}
                      <strong>
                    {% endif %}
                    {{ item.title }}
                    {% if item.is_root_node %}
                      </strong>
                    {% endif %}
                  </a>
                  {% if item.is_parent or item.contact != item.parent_contact %}
                    <small>
                      ({{ item.contact.get_full_name }})
                    </small>
                  {% endif %}
                </td>
                <td>
                  {% if item.priority.level %}
                    {{ item.priority.name }}
                  {% endif %}
                </td>
                <td>
                  {% if item.due %}
                    {{ item.due|date:"d/m/Y" }}
                  {% endif %}
                </td>
                <td>
                  {% include 'crm/_link_ticket_children.html' with ticket_link=item %}
                </td>
                <td>
                  {% if item.user_assigned %}
                    {{ item.user_assigned.username }}
                  {% endif %}
                </td>
                <td>
                  {% if item.complete %}
                    {{ item.complete|date:"d/m/Y H:i" }}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
