{% extends 'crm/base.html' %}

{% block sub_title %}
  {% if object %}
    Ticket
  {% else %}
    Create new ticket
  {% endif %}
  {% if object %}
    {{ object.pk }}
  {% endif %}
  for
  {% if object %}
    {{ object.contact.get_full_name }}
  {% else %}
    {{ contact.get_full_name }}
  {% endif %}
{% endblock sub_title %}

{% block sub_heading %}
  {% if object %}
    Ticket
  {% else %}
    Create new ticket
  {% endif %}
  {% if object %}
    {{ object.pk }}
  {% endif %}
  for
  {% if object %}
    {{ object.contact.get_full_name }}
  {% else %}
    {{ contact.get_full_name }}
  {% endif %}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <p>
        Ticket for
        <strong>
          {% if object %}
            {{ object.contact.get_full_name }}
          {% else %}
            {{ contact.get_full_name }}
          {% endif %}
        </strong>.
      </p>
      {% if object %}
        {% if not object.can_edit_kanban_column %}
          <p>
            <i class="fa fa-warning"></i>
            The ticket type cannot be changed.
            The ticket is on the Kanban board in the
            <strong>{{ object.kanban_card.column.title }}</strong> column for the
            <strong>{{ object.kanban_card.column.lane.title }}</strong> lane.
            To change the ticket type, you will need to move the ticket to the
            backlog first.
          </p>
        {% endif %}
      {% endif %}
      {% if parent %}
        <p>
          <strong>Sub-ticket</strong> of {{ parent.pk }}, {{ parent.title }}
        </p>
      {% endif %}
      {% include '_form.html' %}
    </div>
  </div>
{% endblock content %}

{% block script_extra %}
  {{ block.super }}
  {% include 'base/_chosen.html' %}
{% endblock script_extra %}
