{% extends 'crm/base.html' %}

{% block sub_title %}
  Move Ticket
  {{ object.pk }}
  for {{ ticket.contact.get_full_name }}
{% endblock sub_title %}

{% block sub_heading %}
  Move Ticket
  {{ object.pk }}
  for {{ ticket.contact.get_full_name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <p>
        Move ticket:
        <br>
        <strong>
          {{ object.pk }},
        </strong>
        {{ object.title }}
        <br>
        for {{ ticket.contact.get_full_name }}
      </p>
      {% include '_form.html' %}
      <br>
      <i class="fa fa-warning"></i>
      <strong>
        Note:
      </strong>
      <a href="{% url 'crm.ticket.parent.clear.confirm' ticket.pk %}">
        Click here to remove ticket {{ ticket.pk }} from the hierarchy...
      </a>
    </div>
  </div>
{% endblock content %}
