{% extends 'crm/base.html' %}

{% block sub_title %}
  CRM Settings for {{ object.user.get_full_name }} ({{ object.user.username }})
{% endblock sub_title %}

{% block sub_heading %}
  CRM Settings for {{ object.user.get_full_name }} ({{ object.user.username }})
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' with legend='CRM Settings' %}
    </div>
  </div>
{% endblock content %}
