.crm-border-top {
    border-top: 1px solid #D3D3D3;
}

.overflow-auto {
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.card-active {
    background: rgb(230, 255, 230);
    padding: 0px 5px 5px 5px;
    margin: 5px 5px 5px 0px;
}

.card-heading {
    text-align: center;
    background: rgb(230, 249, 255);
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    margin: 5px 5px 0px 0px;
}

.card-done {
    background: rgb(255, 255, 184);
    padding: 0px 5px 5px 5px;
    margin: 5px 5px 5px 0px;
}

.card-help-text {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 0px;
}

.card-track {
    background: rgb(255, 230, 230);
    padding: 0px 5px 5px 5px;
    margin: 0px 5px 5px 0px;
}

.full-width-button {
    display: block;
    margin: 0px 0px 5px 0px;
    width: 90%;
    text-align: center;
}

.highlight-only {
  background: rgb(255, 255, 184);
}

.inline-form {
    display: inline;
    float: right;
}

.table-layout-fixed {
    margin: 5px 0px 0px 0px;
    table-layout: fixed;
}

.right-align {
    float: right;
}

.rounded-border {
    /* set border styling */
    border-color: gray;
    border-style: solid;
    border-width: 1px;

    /* set border roundness */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    overflow: hidden;
}

.card-highlight {
    /* set border styling */
    border-color: black;
    border-style: solid;
    border-width: 2px;
}
